@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;
*/
/*
$font_3: Helvetica Neue;
$font_4: Helvetica;
$font_5: Arial;
$font_6: sans-serif;
$font_7: Open Sans;
*/
html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: interstatebold;
  src: url(interstate-bold-webfont.woff2) format("woff2"), url(interstate-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: interstateregular;
  src: url(interstate-regular-webfont.woff2) format("woff2"), url(interstate-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Open Sans, Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
  color: #979797;
}

main {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
}

h1 {
  text-align: center;
  color: #212129;
  font-family: Open Sans, Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  padding: 1rem;
}

h3 {
  color: #212129;
}

.Headerfile1 {
  text-align: left;
  color: black;
  padding: 10px 30px;
  font-weight: normal;
}

form {
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem;
}

form input {
  width: 100%;
  height: 100;
  border: 0.1rem solid silver;
  padding: 0.6rem;
}

form input:invalid {
  border-color: red;
}

form .login-Btn {
  padding: 0.3rem;
  width: 100%;
  background-color: White;
  color: black;
  border-radius: 1.5rem;
  border: 0.1rem solid silver;
  font-size: 1.8rem;
  margin: 0 auto;
}

.rectangle {
  color: #212129;
  margin-bottom: 0.625rem;
  padding: 0.125rem 0.625rem 0.625rem;
  visibility: hidden;
}

.image {
  width: 10rem;
  display: block;
  margin: 2rem auto 0 auto;
}

.loginmessage {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.625rem;
}

/*the second file properties */
header {
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 0.3125rem;
  padding: 0.3125rem;
}

.hidden {
  display: none;
}

article {
  padding: 0;
  margin: 0.625rem 1%;
  background-color: white;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  float: left;
  border: thin solid #212129;
  border-top: medium solid #212129;
}

img {
  padding: 0;
  margin: 0;
}

.logo {
  width: 12rem;
  display: block;
  margin-bottom: 0.3125rem;
  padding: 0.625rem 0;
  display: none;
}

.dot {
  height: 1.5625rem;
  width: 1.5625rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding: 0.03125rem 0.0625rem;
  position: relative;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.nav {
  padding: 0.625rem 1.875rem;
  display: none;
  position: absolute;
  right: 0;
}

.mydiv {
  font-weight: normal;
  margin-top: 2%;
  text-align: center;
}

.mydiv span {
  font-weight: bold;
  margin-top: 2%;
  text-align: center;
}

#Updated {
  text-align: center;
  font-weight: normal;
  margin-top: 1%;
  padding: 1.875rem;
}

.version {
  font-weight: normal;
  text-align: center;
  padding: 0.625rem;
}

.version span {
  font-weight: bold;
  text-align: right;
  padding: 0.625rem;
}

.mydiv2 {
  font-weight: normal;
  text-align: right;
  padding: 0.625rem;
}

.mydiv2 span {
  font-weight: bold;
  text-align: right;
  padding: 0.625rem;
}

.arrow {
  position: relative;
}

i {
  border: solid black;
  border-width: 0 0.1875rem 0.1875rem 0;
  display: inline-block;
  padding: 0.1875rem;
}

.down {
  transform: rotate(45deg);
}

#styles {
  background-color: #f6f4ee;
  color: black;
  padding: 1.875rem;
  font-size: 1rem;
  border: none;
  margin-left: 0.0625rem;
  font-weight: bold;
}

.dropbtn {
  background-color: #f6f4ee;
  color: black;
  padding: 1.875rem;
  font-size: 1rem;
  border: none;
  margin-left: 0.0625rem;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 10.75rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.userDrop {
  position: absolute;
  display: inline-block;
  right: 1.25rem;
}

.menuDrop {
  width: 12.5rem;
  height: 12.5rem;
  display: inline-block;
  position: absolute;
  background: #ff4444;
  z-index: 2;
}

.hide {
  display: none;
}

/* Second file properties end */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}

footer p {
  text-align: center;
  padding: 0;
  margin: 0;
}

a article {
  color: black;
  display: block;
}

a article:hover {
  background-color: #ddd;
}

/* third file properties start */
.styleWrap {
  padding: 0;
  margin: 0;
  width: 98%;
  margin-top: 0.3125rem;
  padding: 0.3125rem;
}

.fullWidthWrap {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  padding: 0.625rem 0.9375rem 1.625rem 0.9375rem;
  width: 97%;
  float: left;
  border: thin solid #9d833e;
}

.halfWidthWrap {
  margin-left: 10px;
  margin-right: 20px;
  background-color: white;
  padding: 0.625rem 0.9375rem 0.8rem 0.9375rem;
  min-height: 23rem;
  width: 48%;
  float: left;
  border: thin solid #9d833e;
}

#fonts {
  margin: 10px;
}

#background {
  margin-right: 15px;
  padding: 10px;
}

#btn {
  width: 1.5625rem;
  height: 1.5625rem;
  float: right;
  background-color: white;
}

#btn2 {
  width: 1.5625rem;
  height: 1.5625rem;
  float: right;
  background-color: white;
}

#btn3 {
  width: 1.5625rem;
  height: 1.5625rem;
  float: right;
  background-color: white;
}

#btn4 {
  width: 1.5625rem;
  height: 1.5625rem;
  float: right;
  background-color: white;
}

#btn5 {
  width: 1.5625rem;
  height: 1.5625rem;
  float: right;
  background-color: white;
}

.btn1 {
  height: 1.5625rem;
  width: 0.125rem;
  float: right;
  margin-left: 0.75rem;
  background-color: black;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1;
}

.md {
  height: 1.5625rem;
  width: 0.125rem;
  float: right;
  background-color: black;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  z-index: 1;
}

.itemgGroup {
  width: 100%;
  float: left;
}

.itemgGroup .colorSample {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 16px;
  vertical-align: bottom;
  float: left;
  padding: 5px;
  border: thin solid #212129;
}

.itemgGroup .useDescription {
  margin-left: 4.4rem;
  color: #979797;
}

.itemgGroup .useDescriptionFont {
  margin-left: 1.5rem;
  color: #979797;
}

.itemgGroup #titletext {
  width: 100%;
  float: left;
  padding: 20px;
  margin: 0px 0px 15px 15px;
  height: 50%;
}

.itemgGroup #fontbox {
  width: 100%;
  float: left;
  padding: 20px;
  margin: 0px 0px 15px 15px;
  height: 50%;
}

.itemgGroup .fontext {
  border-radius: 16px;
  vertical-align: bottom;
  float: left;
  padding: 5px;
  color: #212129;
}

.itemgGroup .logbox {
  width: 100%;
  float: left;
  padding: 20px;
  margin: 0px 0px 15px 15px;
  height: 50%;
}

.itemgGroup .LogoSample {
  width: 100%;
  float: left;
  margin: 5px;
}

.itemgGroup .SampleBox {
  margin: 0 0 0 2.5rem;
  color: #212129;
}

.itemgGroup .wrapper {
  width: 50%;
  float: left;
  padding: 20px;
}

.itemgGroup .wrapperTable {
  width: 100%;
  padding: 20px;
}

.itemgGroup .wrapperTable .useDescription {
  margin-left: 2.5rem;
}

.itemgGroup .bgbox {
  margin: 2.5rem;
  padding: 2.5rem;
}

.itemgGroup .title {
  display: inline-block;
  color: black;
}

.itemgGroup .description {
  display: inline-block;
}

.itemgGroup #color1 {
  width: 50%;
  float: left;
}

.bgcolor {
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  vertical-align: bottom;
  border: thin solid #212129;
  color: #979797;
}

.title {
  display: inline-block;
  color: black;
}

.description {
  display: inline-block;
}

.itemgGroup2 {
  width: 50%;
  /*float:left;*/
  line-height: 1rem;
  padding: 2rem;
  margin: 2rem;
}

.itemgGroup2 .colorSample2 {
  width: 1.875rem;
  height: 1.875rem;
  background-color: gray;
  display: inline-block;
  border-radius: 16px;
  vertical-align: bottom;
}

.itemgGroup2 .title {
  display: inline-block;
  color: black;
}

.itemgGroup2 .description {
  display: inline-block;
}

.LogoIcon {
  float: left;
}

.Logoname {
  float: right;
}

.itemgGroup3 {
  width: 50%;
  float: left;
  line-height: 2rem;
  padding: 2rem;
}

.itemgGroup3 .LogoIcon {
  display: inline-block;
}

.itemgGroup3 .title {
  display: inline-block;
  color: black;
  width: 40%;
}

.itemgGroup3 .description {
  display: inline-block;
}

.MenuNav {
  margin: 0.625rem;
}

.stylesWrap .fullWidthWrap:nth-child(1) {
  border: thin solid red;
  border-top: medium solid red;
}

.stylesWrap .halfWidthWrap:nth-child(1) {
  border: thin solid yellow;
  border-top: medium solid yellow;
}

.stylesWrap .halfWidthWrap:nth-child(2) {
  border: thin solid yellow;
  border-top: medium solid yellow;
}

.stylesWrap .fullWidthWrap:nth-child(2) {
  border: thin solid red;
  border-top: medium solid red;
}

@media only screen and (min-width: 768px) {
  .landingPageWrap a article {
    width: 48%;
  }
  .landingPageWrap article {
    width: 48%;
    min-height: 12rem;
  }
  .landingPageWrap article p {
    text-align: center;
  }
  .nav {
    display: none;
  }
  .userDrop {
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {
  form {
    width: 40%;
    background: white;
    margin: 0 auto;
  }
  .landingPageWrap a article {
    width: 23%;
  }
  .landingPageWrap article {
    width: 23%;
  }
}

@media only screen and (max-width: 768px) {
  .itemgGroup {
    float: none;
  }
  .itemgGroup3 {
    float: none;
  }
}

@media only screen and (max-width: 1200px) {
  #fonts, #backgrounds {
    width: 97%;
    position: initial;
    top: default;
  }
}
